<p id="notice"><%= notice %></p>

<h1>Listing Try Thems</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @try_thems.each do |try_them| %>
      <tr>
        <td><%= try_them.title %></td>
        <td><%= try_them.description %></td>
        <td><%= link_to 'Show', try_them %></td>
        <td><%= link_to 'Edit', edit_try_them_path(try_them) %></td>
        <td><%= link_to 'Destroy', try_them, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Try them', new_try_them_path %>
